<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CybageNet</display-name>
  <servlet>
    <description></description>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>com.cybage.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertBook</display-name>
    <servlet-name>InsertBook</servlet-name>
    <servlet-class>com.cybage.InsertBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBook</servlet-name>
    <url-pattern>/InsertBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>com.cybage.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBook</display-name>
    <servlet-name>DeleteBook</servlet-name>
    <servlet-class>com.cybage.DeleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBook</servlet-name>
    <url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHome</display-name>
    <servlet-name>UserHome</servlet-name>
    <servlet-class>com.cybage.UserHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHome</servlet-name>
    <url-pattern>/UserHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBook</display-name>
    <servlet-name>SearchBook</servlet-name>
    <servlet-class>com.cybage.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Review</display-name>
    <servlet-name>Review</servlet-name>
    <servlet-class>com.cybage.Review</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Review</servlet-name>
    <url-pattern>/Review</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Showreview</display-name>
    <servlet-name>Showreview</servlet-name>
    <servlet-class>com.cybage.Showreview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showreview</servlet-name>
    <url-pattern>/Showreview</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>logFilter</display-name>
    <filter-name>logFil</filter-name>
    <filter-class>logFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>logFil</filter-name>
    <url-pattern>/UserHome</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHome</display-name>
    <servlet-name>AdminHome</servlet-name>
    <servlet-class>com.cybage.AdminHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHome</servlet-name>
    <url-pattern>/AdminHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.cybage.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReview</display-name>
    <servlet-name>AddReview</servlet-name>
    <servlet-class>com.cybage.AddReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReview</servlet-name>
    <url-pattern>/AddReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetail</display-name>
    <servlet-name>ShowDetail</servlet-name>
    <servlet-class>com.cybage.ShowDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetail</servlet-name>
    <url-pattern>/ShowDetail</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.cybage.SessionCounter</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.cybage.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
</web-app>